body {
	background-color: #D8BFD8;
	font-family: 'Ubuntu', sans-serif;
	margin: 0 30em 0 30em;
}

h1 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 50px;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}