body {
    color: black;
    background: white;
}

body.dark-theme {
    color: white;
    background: black;
}

.FS{
    height: 100vh;
    align-items: center;
    display: flex;
}

.main {
    width: 100vh;
    align-items: center;
}

h1 {
    text-align: center;
}

.button {
    height: 50px;
}

.btn-toggle {
    border: none;
    background: transparent;
}