@font-face {
	font-family: "nsq";
	src: url("../../fonts/NanumSquare_acR.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham Light";
	src: url("../../fonts/GothamLight.ttf") format("truetype");
}

@font-face {
	font-family: "KleeOne";
	src: url("../../fonts/KleeOne-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham";
	src: url("../../fonts/Gotham-Black.otf") format("OpenType");
}

/*  Color */
body {
	background: white;
	color: black;
	transition: 0.5s;
}

body.dark-mode {
	background: black;
	transition: 0.5s;
}

header {
	background: white;
	color: black;
	transition: 0.5s;
}

body.dark-mode header {
	background: black;
	color: white;
	transition: 0.5s;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #0a58ca;
}

svg {
	fill: black;
	transition: 0.5s;
}

body.dark-mode svg {
	fill: white;
	transition: 0.5s;
}

/* Font */
body {
	font-family: "nsq";
	font-size: 30px;
}

header h1 {
	font-family: "Gotham", sans-serif;
	font-size: 2.5em;
	margin: 50px 0;
}

h2 {
	font-family: "Gotham Light";
	font-size: 50px;
}

h3 {
	font-family: "nsq", sans-serif;
	font-size: 30px;
	font-weight: normal;
}

h4 {
	font-size: 40px;
	font-weight: normal;
}

/* Main */
body {
	margin: 0 64px 0 64px;
}

header {
	position: fixed;
	width: 80vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4em;
	padding: 32px 32px 32px 32px;
}

.nav {
	float: left;
	margin-left: 20px;
}

.poster {
	display: block;
	height: 8em;
	padding-left: 0.3em;
	padding-top: 0.1em;
}

.container {
	float: left;
	width: 6em;
	height: 9em;
	text-align: center;
	transition: 0.2s;
	align-items: center;
}

.container:hover {
	transform: scale(1.1);
	transition: 0.2s;
}

.title {
	font-size: 0.8em;
	clear: both;
}

progress {
	width: 5em;
}

/* Change Mode Button */
.switch {
	position: fixed;
	display: inline-block;
	width: 60px;
	height: 34px;
	bottom: 28px;
	right: 130px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

#ChangeTheme:checked + span.slide:before {
	transform: translatex(40px);
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
