@font-face {
	font-family: "nsq";
	src: url("/fonts/NanumSquare_acR.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham Light";
	src: url("/fonts/GothamLight.ttf") format("truetype");
}

@font-face {
	font-family: "KleeOne";
	src: url("/fonts/KleeOne-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-Black.otf") format("OpenType");
}

body {
	padding-top: 30px;
	font-family: "nsq";
	font-size: 30px;
	margin: 0 64px 0 64px;
	background-attachment: fixed;
	background: white;
}

header {
	border-bottom: black;
	width: 1064px;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

h1 {
	font-family: "Gotham", sans-serif;
	font-size: 75px;
	margin: 50px 0;
}

table {
	border-collapse: collapse;
	width: 1064px;
	font-size: 20px;
	padding-right: 32px;
}

.text {
	padding-left: 10px;
}

.HD {
	height: 50px;
}

.cover {
	width: 75px;
	vertical-align: bottom;
}

div#nav {
	float: left;
	margin-left: 20px;
	display: block;
}

div#songs {
	height: 100px;
}

div#cover {
	float: left;
}

div#feat {
	color: #888888;
	font-size: 15px;
	font-weight: light;
	font-style: italic;
	padding-top: 4px;
}

div#box {
	height: 50px;
	display: table-cell;
	vertical-align: text-bottom;
}

info {
	font-size: 15px;
	font-style: italic;
}

cr {
	font-size: 20px;
}
